
GameDev2D-Assignment1/Intermediate Files/GameDev2D-GAM1544/Debug/GameDev2D.log
GameDev2D-Assignment1/Intermediate Files/GameDev2D-GAM1544/Debug/GameDev2D-GAM1544.ilk
GameDev2D-Assignment1/Intermediate Files/GameDev2D-GAM1544/Debug/GameDev2.5B4F3AE6.tlog/link.read.1.tlog
GameDev2D-Assignment1/Builds/GameDev2D-GAM1544/Debug/GameDev2D-GAM1544.pdb
GameDev2D-Assignment1/Builds/GameDev2D-GAM1544/Debug/GameDev2D-GAM1544.exe
GameDev2D-Assignment1/.vs/GameDev2D/v17/DocumentLayout.json
GameDev2D-Assignment1/.vs/GameDev2D/v17/Browse.VC.db
GameDev2D-Assignment1/.vs/GameDev2D/v17/.suo
GameDev2D-Assignment1/.vs/GameDev2D/FileContentIndex/d3b7dfa6-96ac-4d14-b1e4-f59d3a4b58de.vsidx
GameDev2D-Assignment1/.vs/GameDev2D/FileContentIndex/4b611c69-0c61-4865-b8a1-0ecf4d469ecd.vsidx
